@import '/node_modules/govuk-frontend/dist/govuk/settings/_media-queries.scss';
@import '/node_modules/govuk-frontend/dist/govuk/helpers/_media-queries.scss';
@import '/node_modules/govuk-frontend/dist/govuk/helpers/_colour.scss';
@import '/node_modules/govuk-frontend/dist/govuk/settings/_colours-applied.scss';
@import '/node_modules/govuk-frontend/dist/govuk/helpers/_spacing.scss';
@import '/node_modules/govuk-frontend/dist/govuk/settings/_spacing.scss';
@import '/node_modules/govuk-frontend/dist/govuk/helpers/_font-faces.scss';
@import '/node_modules/govuk-frontend/dist/govuk/helpers/_typography.scss';
@import '/node_modules/govuk-frontend/dist/govuk/settings/_typography-font.scss';
@import '/node_modules/govuk-frontend/dist/govuk/settings/_typography-responsive.scss';


.app-listing-result-tile {
  display: block;
  clear: both;
  overflow: hidden;
}

.app-summary-list {
  @include govuk-font(16);
}

.app-summary-list__key {
  float: left;
  clear: left;
  margin-right: govuk-spacing(2);
}

.app-summary-list__value {
  float: left;
  margin-left: 0;
}