.app-establishment-listing-tile-arrow {
  width: 19px;
  height: 34px;
  background-color: white;
  background-image: url('/assets/public/images/icons/tile-arrow.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin-top: 0;
  margin-left: 10px;
}

.app-establishment-listing-name-container {
  display: flex;
  align-items: center;
  width: 100%;
}

.app-establishment-listing-name-container .app-establishment-listing-name-heading {
  flex-grow: 1;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.app-establishment-listing-table {
  table-layout: fixed;
  width: 100%;
}
.app-establishment-listing-table .govuk-table__header, .app-establishment-listing-table .govuk-table__cell {
  width: 50%; /* This ensures each column is half the table width */
  vertical-align: top;
  line-height: 1.5;
}