@import '/node_modules/govuk-frontend/dist/govuk/settings/_media-queries.scss';
@import '/node_modules/govuk-frontend/dist/govuk/helpers/_media-queries.scss';
@import '/node_modules/govuk-frontend/dist/govuk/helpers/_typography.scss';
@import '/node_modules/govuk-frontend/dist/govuk/settings/_typography-responsive.scss';
@import '/node_modules/govuk-frontend/dist/govuk/helpers/_font-faces.scss';
@import '/node_modules/govuk-frontend/dist/govuk/settings/_typography-font.scss';


// asp custom search form

.search-input-container {
  display: flex;
  align-items: center;
}

.search-input--error .autocomplete__input {
  border-color: #d4351c;
}

.asp-magnify-button {
  width: 10%;
  margin: 0 0 0 -1px;
  padding: 0;
  background-image: url(/assets/public/images/icons/inline-search-button-icon.png);
  background-size: 15px;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 38px;
  min-width: 42px;
  max-width: 46px;
  height: 2.4rem;
}

#suggestionSearchTerm .autocomplete__option {
  font-family: "GDS Transport", arial, sans-serif;
}


