/* ==========================================================================
   #SIDE NAVIGATION
   #Adapted from the MOJ design system
   #https://github.com/ministryofjustice/moj-frontend/blob/main/src/moj/components/side-navigation/_side-navigation.scss
   ========================================================================== */

@import '/node_modules/govuk-frontend/dist/govuk/settings/_media-queries.scss';
@import '/node_modules/govuk-frontend/dist/govuk/helpers/_media-queries.scss';
@import '/node_modules/govuk-frontend/dist/govuk/helpers/_colour.scss';
@import '/node_modules/govuk-frontend/dist/govuk/settings/_colours-applied.scss';
@import '/node_modules/govuk-frontend/dist/govuk/helpers/_spacing.scss';
@import '/node_modules/govuk-frontend/dist/govuk/settings/_spacing.scss';
@import '/node_modules/govuk-frontend/dist/govuk/helpers/_font-faces.scss';
@import '/node_modules/govuk-frontend/dist/govuk/helpers/_typography.scss';
@import '/node_modules/govuk-frontend/dist/govuk/settings/_typography-font.scss';
@import '/node_modules/govuk-frontend/dist/govuk/settings/_typography-responsive.scss';

.app-side-navigation {
    @include govuk-font(16);

    @include govuk-media-query($until: tablet) {
        display: flex;
        overflow-x: scroll;
    }

    @include govuk-media-query($from: tablet) {
        display: block;
        padding: govuk-spacing(4) 0 0;
    }
}

.app-side-navigation-width {
    width: 22%;
}

.app-side-navigation__list {
    list-style: none;
    margin: 0;
    padding: 0;

    @include govuk-media-query($until: tablet) {
        display: flex;
        margin: 0;
        white-space: nowrap;
    }

    @include govuk-media-query($from: tablet) {
        margin-bottom: govuk-spacing(4);
    }
}

.app-side-navigation__item {
    @include govuk-media-query($until: tablet) {
        display: flex;
    }

    a {
        &:link,
        &:visited {
            background-color: inherit;
            color: $govuk-link-colour;
            display: block;
            text-decoration: none;

            @include govuk-media-query($until: tablet) {
                border-bottom: 4px solid transparent;
                padding: govuk-spacing(3);
                padding-bottom: govuk-spacing(3) - 4px; // Compensate for 4px border
            }

            @include govuk-media-query($from: tablet) {
                background-color: inherit;
                border-left: 4px solid transparent;
                padding: govuk-spacing(2);
            }
        }

        &:hover {
            color: $govuk-link-hover-colour;
        }

        &:focus {
            color: $govuk-focus-text-colour;
            background-color: $govuk-focus-colour;
            border-color: $govuk-focus-text-colour;
            position: relative;
        }

        &[aria-current="page"] {
            &:link,
            &:visited {
                border-color: $govuk-link-colour;
                color: $govuk-link-colour;
                font-weight: bold;
            }

            &:hover {
                color: $govuk-link-hover-colour;
                border-color: $govuk-link-hover-colour;
            }

            &:focus {
                color: $govuk-focus-text-colour;
                background-color: $govuk-focus-colour;
                border-color: $govuk-focus-text-colour;
            }

            @include govuk-media-query($from: tablet) {
                &:link,
                &:visited {
                    background-color: govuk-colour("light-grey");
                }

                &:focus {
                    color: $govuk-focus-text-colour;
                    background-color: $govuk-focus-colour;
                }
            }
        }
    }
}