/* ==========================================================================
   #SUB-NAVIGATION
   ========================================================================== */

@import '/node_modules/govuk-frontend/dist/govuk/settings/_media-queries.scss';
@import '/node_modules/govuk-frontend/dist/govuk/helpers/_media-queries.scss';
@import '/node_modules/govuk-frontend/dist/govuk/helpers/_colour.scss';
@import '/node_modules/govuk-frontend/dist/govuk/settings/_colours-applied.scss';

.app-sub-navigation {
    margin-bottom: 40px;
}

.app-sub-navigation__list {
    font-size: 0;
    list-style: none;
    margin: 0;
    padding: 0;

    @include govuk-media-query($from: tablet) {
        box-shadow: inset 0 -1px 0 govuk-colour("mid-grey");
        width: 100%;
    }
}

.app-sub-navigation__item {
    font-family: "GDS Transport", arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.25;
    margin-top: -1px;

    @include govuk-media-query($until: tablet) {
        box-shadow: inset 0 -1px 0 govuk-colour("mid-grey");
    }

    @include govuk-media-query($from: tablet) {
        display: inline-block;
        margin-right: 20px;
        margin-top: 0;
        font-size: 19px;
        font-size: 1.1875rem;
        line-height: 1.3157894737;
        box-shadow: none;
    }

    a {
        &,
        &:link,
        &:visited {
            font-family: "GDS Transport", arial, sans-serif;
            -webkit-font-smoothing: antialiased;
            text-underline-offset: 0.1578em;
            display: block;
            padding-top: 12px;
            padding-bottom: 12px;
            text-decoration: none;
            color: govuk-colour("blue");

            @include govuk-media-query($until: tablet) {
                border-left: 4px solid transparent;
                padding-left: 10px;
            }

            @include govuk-media-query($from: tablet) {
                border-bottom: 4px solid transparent;
            }
        }

        &:hover {
            color: $govuk-link-hover-colour;
            text-decoration: underline $govuk-link-hover-colour solid 2px;
        }

        &:focus,
        &:active {
            color: $govuk-focus-text-colour;
            text-decoration: none;
            background-color: $govuk-focus-colour;
            border-color: $govuk-focus-text-colour;
            position: relative;
        }

        &[aria-current="page"] {
            &,
            &:link,
            &:visited {
                color: govuk-colour("black");
                position: relative;
                font-weight: bold;
            }

            &:hover {
                color: $govuk-link-hover-colour;
                border-color: $govuk-link-hover-colour;
            }

            &:focus,
            &:active {
                color: $govuk-focus-text-colour;
                background-color: $govuk-focus-colour;
                border-color: $govuk-focus-text-colour;
            }

            @include govuk-media-query($until: tablet) {
                border-left: 4px solid govuk-colour("blue");
            }

            @include govuk-media-query(tablet) {
                border-color: govuk-colour("blue");
            }
        }
    }
}