
@import '/node_modules/govuk-frontend/dist/govuk/settings/_media-queries.scss';

$app-breakpoint-custom : 700px;

.app-header__container {
    display: flex;
    flex-wrap: wrap;
}

.app-header {
    border-bottom: 10px;
}

.app-header__logo {
    width: 180px;
    margin-bottom: 10px;
}

.app-header__content-service-name {
    min-width: 340px;
    margin-top: 5px;
}

.app-header__service-name {
    margin-bottom: 10px;
}

@media(min-width: map-get($govuk-breakpoints, tablet)) {
    .app-header__content-service-name {
        min-width: 380px;
        margin-top: 0px;
        flex-grow: 1;
    }
}

@media(min-width: $app-breakpoint-custom) {
    .app-header__content-service-name {
        min-width: 440px;
        margin-top: 0px;
        flex-grow: 1;
    }
}

@media(min-width: map-get($govuk-breakpoints, desktop)) {
    .app-header__content-service-name {
        min-width: 320px;
        margin-top: 0px;
        flex-grow: 1;
    }
}

.app-header__content-account-signin {
    min-width: 75px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
}

@media(min-width: map-get($govuk-breakpoints, desktop)) {
    .app-header__content-account-signin {
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

.app-header__link-username {
    margin-top: 10px;   
}

.app-header__link-signin {
    margin-left: 15px;
}

.app-header__menu-button {
    top: 15px;
}

@media(min-width: map-get($govuk-breakpoints, tablet)) {
    .app-header__menu-button {
        top: 15px;
    }
}

.app-header__navigation {
    border-top: 10px solid #1d70b8;
    border-bottom: 1px solid #b1b4b6;
    background-color: #f8f8f8;
}

@media(min-width: map-get($govuk-breakpoints, desktop)) {
    .app-header__navigation {
        margin-bottom: 0px;
    }
}

.app-header__navigation-list {
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: rgba(255,255,255,.2)
}

.app-header__navigation-item {
    border-bottom: none;
}

@media(min-width: map-get($govuk-breakpoints, desktop)) {
    .app-header__navigation-item--current,
    .app-header__navigation-item--current:last-child {
        border-bottom: 4px solid #1d70b8;
    }
}

.app-header__navigation-link {
    padding: 5px 8px 5px 0px;
    font-size: 18px !important;
    color: #1d70b8 !important
}

@media(min-width: map-get($govuk-breakpoints, desktop)) {
    .app-header__navigation-link {
        padding-left: 8px;
    }
}

.app-header__navigation-link:hover {
    color: #003078 !important;
    text-decoration: underline #003078 solid 2px
}

.app-phase-banner-container {
    border-bottom: 1px solid #b1b4b6
}

.app-phase-banner {
    border-bottom: none
}

@media print {
    .app-print-hidden {
        display: none !important;
    }
}

.app-list .app-list {
    list-style-type: circle;
    margin-bottom: 10px;
}

.app-list .app-list .app-list {
    list-style-type: square;
}