

@import '/node_modules/govuk-frontend/dist/govuk/settings/_media-queries.scss';

$app-frontend-breakpoint-custom: 801px;

.app-header {
    border-bottom: 0px
}

.app-header__logo {
    width: auto;
}

.app-header__content {
    width: 100%;
    padding-left: 0px;
    display: inline-block;
}

/*custom*/
/*to help prevent service name/account name clashes*/
@media(min-width: #{$app-frontend-breakpoint-custom}) {
    .app-header__content {
        width: 66.66%;
        display: inline-block;
    }
}

.app-header__link-username {
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 10px;
    float: right;
}

.app-header__link-signin {
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 10px;
    float: right;
}

/*tablet*/
@media(min-width: map-get($govuk-breakpoints, tablet)) {
    .app-header__link-username,
    .app-header__link-signin {
        padding-top: 10px;
    }
}

.app-header__container {
    margin-bottom: 0px;
    border-bottom: none
}

.app-header__navigation {
    border-top: 10px solid #1d70b8;
    border-bottom: 1px solid #b1b4b6;
    background-color: #f8f8f8;
}

/*desktop*/
@media(min-width: map-get($govuk-breakpoints, desktop)) {
    .app-header__navigation {
        margin-bottom: 0px;
    }
}

.app-header__navigation-list {
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: rgba(255,255,255,.2)
}

.app-header__navigation-item {
    border-bottom: none;
}

/*desktop*/
@media(min-width: map-get($govuk-breakpoints, desktop)) {
    .app-header__navigation-item--current {
        border-bottom: 4px solid #1d70b8;
    }
}

.app-header__navigation-link {
    padding: 5px 8px 5px 0px;
    font-size: 18px !important;
    color: #1d70b8 !important
}

/*desktop*/
@media(min-width: map-get($govuk-breakpoints, desktop)) {
    .app-header__navigation-link {
        padding-left: 8px;
    }
}

.app-header__navigation-link:hover {
    color: #003078 !important;
    text-decoration: underline #003078 solid 2px
}

.app-phase-banner-container {
    border-bottom: 1px solid #b1b4b6
}

.app-phase-banner {
    border-bottom: none
}
